@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;
  
  color-scheme: light dark;
  

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a:hover{
  color: #0ea5e9
}

button {
  background-color: #f9f9f9;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover{
    color: #0ea5e9
  }

  button {
    background-color: #f9f9f9;
  }
}

@layer components {
  .animateHover {
    @apply transition duration-300 ease-in-out transform hover:-translate-y-1;
  }

  .shadowText {
    @apply text-slate-50 drop-shadow-[0_2px_2px_rgba(0,0,0,0.8)];
  }
}
